<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card">
          <div class="card-header text-center" data-background-color="red">
            <h4 class="title">سامانه یکپارچه بایگانهی (سیب)</h4>
            <p class="category">سامانه بایگانی و ثبت اطلاعات و اسناد دیجیتال افراد در صاایران</p>
          </div>
          <div class="card-content">


            <img src="../../../../assets/img/sib-icon.png" style="width: 70px; height: 70px;">
            <br/><br/>

            <p>

              سامانه یکپارچه بایگانی <b>(سیب)</b> در سال 1396 توسط افسر وظیفه ستوان یکم احسان انصاری بصیر راه اندازی
              گردید.
              این سامانه با بهره گیری از تکنولوژی های جدید برنامه نویسی تحت وب به شیوه SPA و با استفاده از ایده اطلاعات
              بدون ساختار پیاده سازی شده است. این موارد امکان ثبت اطلاعات افراد و اسناد را به صورت کاملا پویا فراهم
              نموده است.

            </p>
            <p>
              پیاده سازی این سامانه بدون همکاری و همدلی افراد ذیل میسر نبود:

            </p>
            <p style="color: #311b92"><b>معاونت محترم توسعه منابع انسانی صاایران: جناب آقای مهندس تورج سیفی</b></p>
            <p><b>مدیریت محترم دبیرخانه و امور وظیفه صاایران: جناب آقای رضا حسنلو</b></p>
            <p><b>کارشناس محترم فاوا: جناب آقای مهندس محسن شائق</b></p>
            <p>
              از تک تک این عزیزان کمال سپاس و قدردانی را داریم.

            </p>
            <p style="text-align: center">eabasir@gmail.com</p>
            <p style="text-align: center"><span dir="ltr">0912-5975886</span> </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
