<div class="main-content">
  <div class="container-fluid">


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">جستجو</h4>
            <p class="category">جستجوی فرد مورد نظر</p>
          </div>
          <div class="card-content">

            <app-personnel-auto-complete (output_item)="setPersonnelId($event)" ></app-personnel-auto-complete>

          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="card">
          <div class="card-header" data-background-color="dblue">
            <h4 class="title">مشخصات</h4>
            <p class="category">اطلاعات فرد مورد نظر</p>
          </div>
          <div class="card-content">

            <app-soldier-info-form [input_field]="modified_field"
                                   [input_id]="personnel_id"
                                   (output_soldier_id)="personnel_id=$event"
                                   (output_field)="field= $event"></app-soldier-info-form>


          </div>
        </div>
      </div>
      <div class="col-md-7" style="direction: ltr">
        <div class="card">
          <div class="card-header" data-background-color="purple">
            <h4 class="title">نمایش اسناد</h4>
            <p class="category" style="direction: rtl">جستجوی اسناد برای فیلد انتخاب شده</p>
          </div>
          <div class="card-content">
            <app-viewer [field]="field"
                        [personnel_id]="personnel_id"
                        [search_bundle]="search_bundle"
                        (output_field)="modified_field = $event"
                        [newUploadCode]="new_upload_code"
            ></app-viewer>

          </div>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" data-background-color="red">
            <h4 class="title">بارگذاری اسناد</h4>
            <p class="category">اسناد جدید را به پروفایل شخص انتخاب شده اضافه نمایید</p>
          </div>
          <div class="card-content">
            <app-uploader [personnel_id]="personnel_id" *ngIf="personnel_id"
                          (new_upload_code)="new_upload_code = $event"></app-uploader>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>
