/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@font-face {
  font-family: 'Yekan';

  src: url('assets/font-yekan/Yekan.eot?-wwn5ej');
  src: url('assets/font-yekan/Yekan.eot?#iefix-wwn5ej') format('embedded-opentype'),
  url('assets/font-yekan/Yekan.woff?-wwn5ej') format('woff'),
  url('assets/font-yekan/Yekan.ttf?-wwn5ej') format('truetype'),
  url('assets/font-yekan/Yekan.svg?-wwn5ej#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{

  font-family: 'Yekan' !important;

}

h1,h2,h3,h4,h5,h6 ,input, button, label, textarea, .mat-option , .mat-tab-label{
  font-family: 'Yekan' !important;
  text-align: right;

}

.mat-option , .mat-tab-label{
  font-family: 'Yekan';
  text-align: right;


}
md-select{
  font-family: 'Yekan' !important;
  text-align: right !important;


}

.mat-select-value{
  left: auto !important;
}
div .date{
  direction: ltr;

}
.form-group label{

  left:0;
}
.dp-material .dp-calendar-month{
  font-size: 14px !important;
}
.dp-calendar-day{
  text-align: center !important;
}
.mat-select-arrow, .mat-select-disabled .mat-select-value, .mat-select-trigger{
  color: #737373;
}

table {
  font-family: 'Yekan' !important;
  text-align: right;
}
th{
  color: #125688!important;
}


.ui-datatable .ui-paginator{
  direction: ltr;

}

body .ui-datatable .ui-datatable-header, body .ui-datatable .ui-datatable-footer{

  font-family: 'Yekan' !important;
  text-align: right;
}


